<div id="loginModal" class="show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center"><%= __('Forget password')%></h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" method="post" action="/send_reset_pwd">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control input-lg" placeholder="<%= __('Email')%>">
                    </div>
                    <div class="form-group">
                        <input name="lastname" type="text" class="form-control input-lg" placeholder="lastname">
                    </div>
                    <div class="form-group">
                        <input name="firstname" type="text" class="form-control input-lg" placeholder="firstname">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><%= __('Reset password')%></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="text-center text-info"><%= __('text footer sending password')%></p>
            </div>
        </div>
    </div>
</div>
