/* ALL */

html, body {
	padding: 0px;
	margin: 0px;
	background: url('/styles/img/background.png') fixed;
	font-family: "lato", sans-serif;
    z-index: -999;
}

a {
	text-decoration: none;
}

h2, h1, h3 {
	margin: auto;
}

.clear {
	clear: both;
}

.left {
	float: left;
	padding-left: 10px;
}

.right {
	float: right;
	padding-right: 10px;
}

input {
	border-radius: 3px;
	margin-left: 15px;
	margin-top: 10px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
	text-align: center;
}

button {
	background: #34495e;
	border: 1px solid #2c3e50;
	color: white;
	height: 30px;
	margin-left: 5px;
	padding: 6px 12px;
}

button:active{
	background: #2c3e50;
	border: 1px solid #34495e;

}
/* HEADER */

nav {
	padding-top: 20px;
	width: 100%;
	height: 60px;
	background: #2c3e50;
	color: rgba(236, 240, 241, 1);
	font-size: 30px;
}

nav a {
	text-decoration: none;
	color: rgba(236, 240, 241, 1);
	font-size: 30px;
	margin-left: 20px;
}

nav a:hover {
	color: rgba(236, 240, 241, 0.8);
}

.header {
	padding-top: 10px;
	width: 100%;
	height: 50px;
	background: #34495e;
}

.header a {
	vertical-align: center;
	text-decoration: none;
	color: rgba(236, 240, 241, 0.8);
	font-size: 15px;
	margin-left: 10px;
}

.header a:hover {
	color: rgba(236, 240, 241, 0.5);
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    min-width: 300px;
	width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0} to {top: 0; opacity: 1}
}

.modal-header {
	vertical-align: top;
	padding: 8px ;
	background: #34495e;
    color: white;
	text-align: center;
}

.modal-body {
	padding: 5px 5px 15px 5px;
	text-align: center;
}

.modal-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	padding: 10px;
	text-align: right;
}

.close {
	color: rgba(236, 240, 241, 0.8);
	padding: 0 5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
	color: rgba(236, 240, 241, 0.5);
    cursor: pointer;
}

/* BODY */

.content {
	margin: 20px 10% 0 10%;
}

.content title {
	font-size: 40px;
	text-align: center;
	color: #2c3e50;
	border-bottom: 1px solid #2c3e50;
	margin-bottom: 10px;
}


/* CAPTURE */

.camera {
    width: 30%;
    top: 10%;
    left: 45%;
	z-index: 15;
	max-height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#maskList ul {
    list-style-type:none;
	white-space:nowrap;
	overflow-x:auto;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

#maskList  li{
    display:inline;
}

#maskList img{
    display:inline;
	width: 10%;
}

#mask {
	position: absolute;
    width: 10%;
    cursor: move;
    top: 10%;
    left: 45%;
	z-index: 16;
}

#postsList ul {
	padding: 0;
	white-space:nowrap;
	margin-top: 0;
	margin-bottom: 20px;
	white-space:nowrap;
}

#postsList li {
	position: relative;
}

#postsList li button {
	width: 50%;
    bottom: 4%;
    left: 3%;
	padding: 5px;
	position: absolute;
}

#postsList img {
	width: 100%;
}

.sidebar {
	overflow: auto;
	width: 15%;
	display: inline-block;
	background: white;
	float: right;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 10px;
	height: 80%;
}

.capture {
	width: 80%;
	float: left;
	background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 10px;
	height: 80%;
}



/* FOOTER */

.footer {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px auto;
	width: 990px;
	height: 30px;
	background: #2c3e50;
	color: rgba(236, 240, 241, 0.8);
	font-size: 15px;
}

.footer a {
	text-decoration: none;
	color: rgba(236, 240, 241, 0.8);
}

.footer a:hover {
	color: rgba(236, 240, 241, 0.5);
}

.errorbox {
	padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    color: #a94442;
    background-color: #f2dede;
    border-left: 5px solid #D4B8BC;
}

.goodbox {
	padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    color: #42A963;
    background-color: #DEF2E5;
    border-left: 5px solid #B8D4BE;
}
