body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
 	flex: 1 0 auto;
}

footer.page-footer {
	margin-top : 0;
}

.profilepic {
	width: 150px;
	margin-left: 45%;
	margin-top: 20px;
}


.chip {
	margin: 10px;
}

#add_tags {
	margin-top: 5px;
	margin-right: 5px;
}

#tags_list {
	min-height: 50px;
}

#map {
	margin: auto;
    width: 100%;
    height: 150px;
}

#update_loc {
    position: absolute;
    right: 20px;
    top: 40px;
}

#images_card {
	min-height: 220px;
}

#images_card ul {
	list-style-type:none;
	white-space:nowrap;
	overflow-x:auto;
	margin: 0;
}
.card-image  {
	max-height: 100%!important;
	max-width: 100%!important;
}

.card-image img{
	max-height: 300px;
	max-width: 220px;
}

.card-action  {
	padding-top: 10px!important;
	padding-top: 10px!important;
}


#image {
	margin: 5px;
	display: inline-block;
	height: 300px; 
	width: 220px;
}

#image_profile {
	margin: 5px;
	display: inline-block;
	height: 200px; 
	width: 200px;
}

#image_profile img {
	max-height: 100%; 
	max-width: 100%;
}

#add_image {
	margin: 5px!important;
	display: inline-block!important;
	min-height: 300px!important; 
	min-width: 220px!important;
}

input[type=text]:disabled, textarea.materialize-textarea:disabled {
    color: inherit;
    border-bottom: 1px solid #9e9e9e;
}

#add_image i {
	font-size: 50px;
    margin-top: 75%;
}

#search_user {
	background-color: #03a9f4;
	border: 0;
	color: white;
}

#debug_search label.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#debug_search label i {
	color: white;
}

#debug_search label.active i {
	color: white;
}

#debug_search i.active {
	color: white;
}

#collection_search .collection-item {
	padding: 0;
	display: flex;
	margin: 0px;
}

#collection_search .collection-item p {
	margin-left: 20px;
    padding-top: 5px;
}

a.collection-item img {
	height: 100%;
	max-height: 60px;
	max-width: 60px;
	border-radius: 2px;
}

#btnprofile {
	margin-top: 30px;	
}
    

.profile_btn {
	margin: 5px;	
}


.profile_pic {
	width: 150px;
	margin-top: 20px;
	margin-left: 20%;
	margin-bottom: 20px;
}

#btnprofile p {
	margin: 5px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}