body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
 	flex: 1 0 auto;
}

footer.page-footer {
	margin-top : 0;
}

.profilepic {
	width: 150px;
	margin-left: 45%;
	margin-top: 20px;
}

.chip {
	margin: 10px;
}

#add_tags {
	margin-top: 5px;
	margin-right: 5px;
}

#tags_list {
	min-height: 50px;
}

#map {
	margin: auto;
    width: 100%;
    height: 150px;
}

#update_loc {
    position: absolute;
    right: 20px;
    top: 40px;
}

#images_card {
	min-height: 220px;
}

#images_card ul {
	list-style-type:none;
	white-space:nowrap;
	overflow-x:auto;
	margin: 0;
}
.card-image  {
	max-height: 100%!important;
	max-width: 100%!important;
}

.card-image img{
	max-height: 300px;
	max-width: 220px;
}

.card-action  {
	padding-top: 10px!important;
	padding-top: 10px!important;
}


#image {
	margin: 5px;
	display: inline-block;
	min-height: 300px; 
	min-width: 220px;
}

#add_image {
	margin: 5px!important;
	display: inline-block!important;
	min-height: 300px!important; 
	min-width: 220px!important;
}

#add_image i {
	font-size: 50px;
    margin-top: 75%;
}