include ./layouts/header.jade

main
	div.row
		div.container
			div#search_user_form.col.s12
				row
					h3.center Search for someone
					div#debug_search.input-field.col.s12
						input#search_user(type="search", autocomplete="off")
						label
							i.material-icons(style="margin-left: 5px;") search
					div.input-field.col.s12.range-field(style="margin-top: -15px;")
						p(style="margin-bottom: -5px;") Distance interval :
						div#distance_interval
					div.input-field.col.s12.range-field(style="margin-top: 0px;")
						p(style="margin-bottom: -5px;") Age interval :
						div#age_interval
					div.input-field.col.s12.range-field(style="margin-top: 0px;")
						p(style="margin-bottom: -5px;") Popularity Score interval :
						div#score_interval
					div.input-field.col.s12.range-field(style="margin-top: 0px;")
						p(style="margin-bottom: -5px;") Interests :
						select#select_tags(multiple)
							option(selected disabled) Choose interests
							each val,index in tags
								option(value=val.name, id=val.id) #{val.name}
					div#progress_search_user.progress(style="display: none")
						div.indeterminate
					div#collection_search.collection(style="display: none;")
					
include ./layouts/chat.jade  
include ./layouts/footer.jade