include ./layouts/header.jade

main
	div.row
		div.container
			div#search_user_form.col.s12
				row
					div#debug_search.input-field.col.s12()
						input#search_user(type="search", autocomplete="off")
						label(for="search_user")
							i.material-icons(style="margin-left: 5px;") search
					div#progress_search_user.progress(style="display: none")
						div.indeterminate
					div#collection_search.collection(style="display: none;")
			div.row
				div.col-md-6.col-md-offset-3.text-center
					p Here is where you can start putting content for your application.

include ./layouts/footer.jade