include ./layouts/header.jade
main
  div.row
    div.col-md-10.col-md-offset-1
      div.row
        div.col-md-6.col-md-offset-3.center(style="margin-top: 300px;")
          a.waves-effect.waves-light.btn.blue(onclick="$('#login').openModal();") Signin
          a.waves-effect.waves-light.btn.blue(href="/auth/signup", style="margin-left: 10px") Signup
              
include ./layouts/footer.jade
