include ./layouts/header.jade

main
  div.row
      div.container
        h3.center You want to join us ?
        br
        form.col.s12(id="signup", name="signup", action="signup", method="post")
          row
            div.input-field.col.s12
              i.material-icons.prefix email
              input#email.validate(type="email")
              label(for="email") Email
            div.input-field.col.s6
              i.material-icons.prefix lock
              input#password.validate(type="password")
              label(for="password") Password
            div.input-field.col.s6
              i.material-icons.prefix lock
              input#passwordConfirm.validate(type="password")
              label(for="password") Password confirmation
            div.input-field.col.s6
              i.material-icons.prefix assignment_ind
              input#firstname.validate(type="text")
              label(for="firstname") Firstname
            div.input-field.col.s6
              i.material-icons.prefix assignment_ind
              input#lastname.validate(type="text")
              label(for="lastname") Lastname
include ./layouts/footer.jade
