include ./layouts/header.jade

main
	div.row
		div.container
			h3.center You want to join us ?
			br
			form.col.s12(id="signup_form")
				row
				div.input-field.col.s12
					i.material-icons.prefix email
					input#email_signup.validate(type="email")
					label(for="email_signup") Email
				div.input-field.col.s6
					i.material-icons.prefix lock
					input#password_signup.validate(type="password")
					label(for="password_signup") Password
				div.input-field.col.s6
					i.material-icons.prefix lock
					input#passwordConfirm_signup.validate(type="password")
					label(for="passwordConfirm_signup") Password confirmation
				div.input-field.col.s6
					i.material-icons.prefix assignment_ind
					input#firstname_signup.validate(type="text")
					label(for="firstname_signup") Firstname
				div.input-field.col.s6
					i.material-icons.prefix assignment_ind
					input#lastname_signup.validate(type="text")
					label(for="lastname_signup") Lastname
				div#progress_signup.progress(style="display: none")
					div.indeterminate
				div#login-button-panel.center
					button.btn.col.s6.offset-s3(id="submit_signup") Register Me

include ./layouts/footer.jade
