footer
  div.container-fluid
    div.row
      div.col-md-6.col-md-offset-3
        div.text-center YOLO SWAG


  script(src="/js/lib/jquery.min.js")
  script(src="/js/main.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
