footer.page-footer.light-blue
  div.footer-copyright
    div.container © 2016 Matcha Team
    a.grey-text.text-lighten-4.right(href="#!") More Links

script(src="/js/lib/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js")
script(src="/js/lib/materialize.js")
script(src="https://maps.googleapis.com/maps/api/js")
script(src="/js/lib/gmaps.js")
script(src="https://cdn.socket.io/socket.io-1.4.5.js")
script(src="/js/lib/nouislider.min.js")
script(src="/js/main.js")